:root {
    --background: #02050e;
    --nav-bg: ghostwhite;

    /* textos */
    --text-black: black;
    --text-grey: #adb9c7;
    --text-white: #f3f4f6;
}

a {
    text-decoration: none;
    color: var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    padding: 0px 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 70px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    gap: 30px;
    color: var(--text-black);
    font-size: 17px;
    font-weight: 600;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 200px;
    width: 1400px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 75px;
}

.hero-info h1 {
    font-size: 60px;
    min-width: 500px;
    font-weight: 800;
}

.hero-info p {
    font-size: 25px;
    font-weight: 400;
    padding-top: 50px;
}

.hero-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

}

.hero-button a {
    background-color: var(--background);
    color: var(--text-white);
    padding: 13px 35px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
}

.hero-button span:last-child > a {
    background-color: var(--nav-bg);
    color: var(--text-black);
    border: 2px solid var(--background);
}

#info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 100px 0px;
    font-size: 20px;
    text-align: center;
}

#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    width: 1400px;
}

.cards-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1400px;
    gap: 40px;
    font-size: 20px;
}

.cards-title h2 {
    font-size: 35px;
}

.cards-serv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 75px;
    padding: 60px 0px;
}

.cards-serv-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.cards-serv-info p {
    width: 400px;
    font-size: 25px;
}

#contacts {
    display: flex;
    width: 1400px;
    justify-content: space-between;
    align-items: center;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 125px;
    font-size: 20px;
}

.cont h2 {
    font-size: 50px;
}

.cont-info {
    display: flex;
    gap: 60px;
}

.cont-info-emp {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cont-info-emp ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont-icons {
    display: flex;
    gap: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg);
    margin-top: 50px;
}